<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="utils.ExtentReporterNG"/>
    </listeners>
  <test thread-count="1" name="Test">
    <classes>
       <class name="ui.login.LoginTests"></class>
       <class name="ui.home.HomeTests"/>
       <class name="api.AuthenticationAPITest"></class>
       <class name="api.ProductTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
